logs/*
saves/*
crash-reports/*
llibrary/*
.mixin.out/*
.fabric/*
astralsorcery/*
journeymap/*
minecolonies/*
structures/*
fonts/*
snapshots-server/*
usercache.json
BotaniaVars.dat
servers.dat
realms_persistence.json
*.[oa]
*.log
.ReAuth.cfg