# Configuration file

general {
    # Whether material._internal_render1.name should be used for armor parts
    S:_internal_render1=true

    # Whether material._internal_render2.name should be used for armor parts
    S:_internal_render2=true

    # Whether material._internal_render3.name should be used for armor parts
    S:_internal_render3=true

    # Whether material._internal_render4.name should be used for armor parts
    S:_internal_render4=true

    # Whether material._internal_renderstring.name should be used for armor parts
    S:_internal_renderstring=true

    # Whether Abyssalnite should be used for armor parts
    S:abyssalnite=true
    S:advancedalloy=true
    S:aluminum=true
    S:alumite=true
    S:amber=true
    S:amethyst=true

    # Whether Ардит should be used for armor parts
    S:ardite=true
    S:awakeneddraconium=true

    # Whether Огненный стержень should be used for armor parts
    S:blaze=true

    # Whether Синяя слизь should be used for armor parts
    S:blueslime=true
    S:blutonium=true

    # Whether Кость should be used for armor parts
    S:bone=true

    # Whether Бор should be used for armor parts
    S:boron=true

    # Whether Нитрид бора should be used for armor parts
    S:boron_nitride=true
    S:brass=true

    # Whether Бронза should be used for armor parts
    S:bronze=true

    # Whether Кактус should be used for armor parts
    S:cactus=true
    S:certus=true
    S:certusquartz_plustic=true
    S:chaoticdraconium=true
    S:chrome=true

    # Whether Кобальт should be used for armor parts
    S:cobalt=true

    # Whether Проводящее железо should be used for armor parts
    S:conductive_iron=true

    # Whether Константан should be used for armor parts
    S:constantan=true

    # Whether Медь should be used for armor parts
    S:copper=true
    S:cyanite=true

    # Whether Тёмная сталь should be used for armor parts
    S:dark_steel=true
    S:darkmatter=true
    S:draconium=true

    # Whether Dragonfly Wing should be used for armor parts
    S:dragonflywing=true

    # Whether Dreadium should be used for armor parts
    S:dreadium=true
    S:ebonypsi=true

    # Whether Наэлектризованная сталь should be used for armor parts
    S:electrical_steel=true

    # Whether Электрум should be used for armor parts
    S:electrum=true
    S:electrumflux=true

    # Whether Elementium should be used for armor parts
    S:elementium=true
    S:elvenelementium=true

    # Whether Сталь Края should be used for armor parts
    S:end_steel=true
    S:enderium=true
    S:enderium_plustic=true

    # Whether Стержень Края should be used for armor parts
    S:endrod=true

    # Whether Камень Края should be used for armor parts
    S:endstone=true

    # Whether Энергетический сплав should be used for armor parts
    S:energetic_alloy=true

    # Whether Перо should be used for armor parts
    S:feather=true

    # Whether Пламя should be used for armor parts
    S:fierymetal=true

    # Whether Огнедерево should be used for armor parts
    S:firewood=true

    # Whether Кремень should be used for armor parts
    S:flint=true
    S:fluix=true
    S:fluixcrystal_plustic=true
    S:gaia=true

    # Whether Твердый углерод should be used for armor parts
    S:hard_carbon=true

    # Whether Адский огонь should be used for armor parts
    S:hellfire=true

    # Whether Волокно промышленной конопли should be used for armor parts
    S:hemp=true

    # Whether Лёд should be used for armor parts
    S:ice=true
    S:invar=true
    S:iridium=true

    # Whether Железо should be used for armor parts
    S:iron=true
    S:ivorypsi=true

    # Whether Королевский металл should be used for armor parts
    S:knightmetal=true

    # Whether Слизесталь should be used for armor parts
    S:knightslime=true

    # Whether Свинец should be used for armor parts
    S:lead=true

    # Whether Листья should be used for armor parts
    S:leaf=true

    # Whether Livingrock should be used for armor parts
    S:livingrock=true

    # Whether Livingwood should be used for armor parts
    S:livingwood=true
    S:ludicrite=true
    S:lumium=true
    S:lumium_plustic=true

    # Whether Огненная слизь should be used for armor parts
    S:magmaslime=true
    S:malachite_gem=true

    # Whether Manasteel should be used for armor parts
    S:manasteel=true

    # Whether Mana String should be used for armor parts
    S:manastring=true

    # Whether Маньюлин should be used for armor parts
    S:manyullyn=true

    # Whether Мифрил should be used for armor parts
    S:mithril=true

    # Whether Сердце наги should be used for armor parts
    S:nagascale=true

    # Whether Адский камень should be used for armor parts
    S:netherrack=true
    S:nickel=true

    # Whether Обсидиан should be used for armor parts
    S:obsidian=true

    # Whether Octine should be used for armor parts
    S:octine=true
    S:osgloglas=true
    S:osmiridium=true
    S:osmium=true

    # Whether Бумага should be used for armor parts
    S:paper=true
    S:peridot=true

    # Whether Свиносталь should be used for armor parts
    S:pigiron=true
    S:platinum=true
    S:platinum_plustic=true

    # Whether Призмарин should be used for armor parts
    S:prismarine=true
    S:psi=true
    S:psigem=true

    # Whether Пульсирующее железо should be used for armor parts
    S:pulsating_iron=true
    S:quartzenrichediron=true

    # Whether Воронье перо should be used for armor parts
    S:raven_feather=true
    S:redgarnet=true
    S:redmatter=true

    # Whether Сплав из красного камня should be used for armor parts
    S:redstone_alloy=true

    # Whether Тростник should be used for armor parts
    S:reed=true

    # Whether Refined Coralium should be used for armor parts
    S:refined_coralium=true
    S:refinedglowstone=true
    S:refinediron=true
    S:refinedobsidian=true
    S:rubber=true
    S:ruby=true
    S:sapphire=true
    S:signalum=true
    S:signalum_plustic=true

    # Whether Серебро should be used for armor parts
    S:silver=true

    # Whether Слизь should be used for armor parts
    S:slime=true

    # Whether Слизнелистья should be used for armor parts
    S:slimeleaf_blue=true

    # Whether Слизнелистья should be used for armor parts
    S:slimeleaf_orange=true

    # Whether Слизнелистья should be used for armor parts
    S:slimeleaf_purple=true

    # Whether Слизневая лоза should be used for armor parts
    S:slimevine_blue=true

    # Whether Слизневая лоза should be used for armor parts
    S:slimevine_purple=true

    # Whether Соуларий should be used for armor parts
    S:soularium=true

    # Whether Сталь душ should be used for armor parts
    S:soulforgedsteel=true

    # Whether Губка should be used for armor parts
    S:sponge=true

    # Whether Starmetal should be used for armor parts
    S:starmetal=true

    # Whether Сталь should be used for armor parts
    S:steel=true

    # Whether Магический лист should be used for armor parts
    S:steeleaf=true

    # Whether Камень should be used for armor parts
    S:stone=true

    # Whether Нить should be used for armor parts
    S:string=true

    # Whether Syrmorite should be used for armor parts
    S:syrmorite=true
    S:tanzanite=true

    # Whether Terrasteel should be used for armor parts
    S:terrasteel=true

    # Whether Thaumium should be used for armor parts
    S:thaumium=true
    S:tin=true
    S:titanium=true
    S:topaz=true

    # Whether Прочный сплав should be used for armor parts
    S:tough=true

    # Whether Treated Wood should be used for armor parts
    S:treatedwood=true
    S:tungsten=true

    # Whether Valonite should be used for armor parts
    S:valonite=true

    # Whether Вибрирующий сплав should be used for armor parts
    S:vibrant_alloy=true

    # Whether Лоза should be used for armor parts
    S:vine=true

    # Whether Void Metal should be used for armor parts
    S:voidmetal=true

    # Whether Weedwood should be used for armor parts
    S:weedwood=true

    # Whether Дерево should be used for armor parts
    S:wood=true
    S:wyverndraconium=true
    S:xu_demonic_metal=true
    S:xu_enchanted_metal=true
    S:xu_evil_metal=true
    S:xu_magical_wood=true
    S:yellorium=true
    S:yellowgarnet=true
    S:zinc=true
}


