# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=Встаем, встаем, поднимаемся и сияем... Всех с добрым утром!
    S:OnSleepText=сейчас спит.
    S:OnWakeText=встал(а) с кровати.
    I:SleeperPerc=25
}


